@page
@model IndexModel
@{
    ViewData["Title"] = "F1 2022 Countdown";
}
<!--<link rel="shortcut icon" type="image/x-icon" href="~/logo.ico" />-->

<link rel="icon" href="~/flag.gif" type="image/gif" >

<p class="f1" id="paraText"><wide>FORMULA 1 </wide><white>Countdown</white>  <br /><br /> <whiteDelay>@Model.sCurrentRaceName</whiteDelay></p>
<p class ="f1"> <whiteDelay>@Model.sCountdown </whiteDelay></p>

<audio autoplay id="bkgAudio" loop>
    <source src="~/audio.mp3" type="audio/mpeg">
</audio>

<script>
  var audio = document.getElementById("bkgAudio");
  audio.volume = 0.2;
</script>



